@import url('https://fonts.googleapis.com/css2?family=Give+You+Glory&family=Open+Sans:wght@300;400&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body {
    font-family: 'Open Sans', sans-serif;
    color: #000000;
}
.navigation{
    display: none;
}
.logo {
    position: absolute;
    top: 30px;
    left:100px;
    font-family: 'Give You Glory';
    font-size: 2rem;
    z-index: 10;
}